/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

.navbar {
    width: 100%;
    height: 64px;
    border-bottom: 1px solid #4c4c4c;
    background-color: #303030;
    position: fixed;
    display: flex;
    align-content: center;
    top: 0;
    left: 0;
    &__Main {
        border: 1px solid #484848;
        border-bottom: none;
        height: 63px;
        width: 180px;
        text-align: center;
        padding-top: 10px;
        &__Text{
            color: #ffffff;
            font-family: "Noto Sans";
            font-size: 36px;
            font-weight: 700;
        }
    }

    &__Themes {
        text-decoration: none;
        border: 1px solid #484848;
        border-bottom: none;
        height: 63px;
        width: 140px;
        text-align: center;
        padding-top: 12px;
        &__Text{
            color: #ffffff;
            font-family: "Noto Sans";
            font-size: 34px;
            font-weight: 700;
        }
    }

    &__Subscribes {
        text-decoration: none;
        border: 1px solid #484848;
        border-bottom: none;
        height: 63px;
        width: 220px;
        text-align: center;
        padding-top: 12px;
        &__Text{
            color: #ffffff;
            font-family: "Noto Sans";
            font-size: 34px;
            font-weight: 700;
        }
    }

    &__emptybox {
        flex: 1 1 auto;
        border: none;
    }

    &__Profile {
        padding: 6px 14px 7px 24px;
    }

    &__Search {
        padding: 19px 0px;
    }
    z-index: 1;
}

body{
    background-color: #262626;
    position: relative;
    display: flex;
    justify-content: center;
}
.blogread {
    width: 76%;
    margin: 114px auto;
    &__columns {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -10px;
    }

    &__column {
        padding: 0px 10px;
        flex: 0 1 33,33%;
    }
}
.content {

    &__title {
        padding: 50px 0px 0px 0px;

    }

    &__text {
    }
}
.column{
    &__content{
        background-color: #545454;
        text-align: center;
        margin: 0px 0px 20px 0px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
        border-radius: 35px;
        height: 325px;
    }
}
@media(max-width: )
