<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{% block title %}{% endblock %} | Blog</title>
</head>

<body>
    <div class="navbar">
        <div class="navbar__Main">
            <a href="{{ url_for('index') }}" class="navbar__Main__Text">Главная</a>
        </div>
        <div class="navbar__Themes">
            <a href="{{ url_for('themes') }}" class="navbar__Themes__Text">Темы</a>
        </div>
        <div class="navbar__Subscribes">
            <a href="{{ url_for('subs') }}" class="navbar__Subscribes__Text">Подписки</a>
        </div>
        <div class="navbar__emptybox"></div>
        <div class="navbar__Search">
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static',filename='Search_icon.png') }}" alt=""
                    class="navbar__Search__Img"></a>
        </div>
        <div class="navbar__Profile">
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static',filename='icon_base.png') }}" alt=""
                    class="navbar__Profile__Img"></a>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>

</html>