{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="blogread">
    <div class="blogread__columns">
        {% for post in posts %}
        <div class="blogread__column">
            <div class="column__content">
                <div class="content__title"><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></div>
                <div class="content__text"><a href="{{ url_for('post', post_id=post.id) }}">{{ post.body }}</a></div>
                <div class="content__author">{{ post.author.username }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}