{% extends "base.html" %}

{% block title %}Post{% endblock %}

{% block content %}
    <div class="content__title">{{ post.title }}</div>
    <div class="content__text">{{ post.body }}</div>
    <div class="content__author"><a href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a></div>
    <div class="content__views"><a>Просмотры: {{ post.views }}</a></div>
    <div class="content__likes"><a>Лайки: {{ likes }}</a></div>
    {% if current_user.is_authenticated %}
    <form>
        <button formaction="{{ url_for('like', post_id=post.id) }}">{% if current_user in post.likes_users %}Дизлайк{% else %}Лайк{% endif %}</button>
    </form>
    {% endif %}
    {% if user == post.author.username %}
     <p>
        <form action="{{ url_for('delete_post', id=post.id) }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.submit(value='Удалить') }}
        </form>
    </p>
    {% endif %}
{% endblock %}