{% extends "base.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<p>{{ user.username }}</p>
<a>Последний раз был {{ user.last_seen }}</a>
<div class="blogread">
    <div class="blogread__columns">
        {% for p in post %}
        <div class="blogread__column">
            <div class="column__content">
                <div class="content__title"><a href="{{ url_for('post', post_id=p.id) }}">{{ p.title }}</a></div>
                <div class="content__text"><a href="{{ url_for('post', post_id=p.id) }}">{{ p.body }}</a></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}